@import "./colorVariables";
.text-bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-underline {
    text-decoration: underline;
}

.font-large {
    font-size: 20px;
}

.font-medium {
    font-size: 18px;
}

.font-normal {
    font-size: 15px;
}

.font-small {
    font-size: 13px;
}

.text-normal {
    font-weight: normal
}