<template>
  <div class="wrapper-home">
    <v-row>
      <v-col cols="12" class="buttons-hours">
        <v-btn outlined color="success" v-for="(item) in getHours" :key="item.index" :class='activeHour == item.index ? "ma-2 btn-hour active" : "ma-2 btn-hour"' @click.prevent="handleChangeHour(item.index)">
          <v-icon left>{{item.icon}}</v-icon> {{item.index == 0 ? '' : item.index}} {{item.text}}
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <div class="wrap-map">
          <div class="over-bg" v-show="loadingMapHour">
            <v-progress-circular
              indeterminate
              color="#2c7516"
            ></v-progress-circular>
          </div>
          <GoogleMap :apiNodes="info" :centerMaps="getCenterMaps"/>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import GoogleMap from '../components/GoogleMap'
  import { centerMaps, apiNodes, hours } from '../utils/helper'
  export default {
    components: {
      GoogleMap
    },
    data () {
      return {
        activeHour: 0,
        loadingMapHour: false,
      }
    },
    computed: {
      getApiNodes() {
        return apiNodes
      },
      getHours() {
        return hours
      },
      getCenterMaps() {
        return centerMaps
      },
      ...mapGetters('maps',['info'])
    },
    methods: {
      async handleChangeHour(index) {
        this.loadingMapHour = true
        setTimeout(() => {
          this.getPositionOnTheMap(index)
          this.loadingMapHour = false
          this.activeHour = index
        }, 500)
      },
      ...mapActions('maps',['getPositionOnTheMap'])
    },
    mounted() {
      this.getPositionOnTheMap(this.activeHour)
    }
  }
</script>

<style lang="scss">
  .wrapper-home {
    width: 100%;
    .buttons-hours {
      .btn-hour {
        margin-right: 5px !important;
        &:last-child {
          margin-right: 0;
        }
      }
      .active {
        background: #08d9ef !important;
        color: #fff;
        border: 1px solid #000;
      }
    }
    .wrap-map {
      position: relative;
      width: 100%;
      .over-bg {
        position: absolute;
        width: 100%;
        background: #f8f8f878;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      iframe {
        width: 100% !important;
        min-height: 370px !important;
      }
    }
  }
</style>