<template>
  <div>
    <gmap-map
      :center="centerMaps"
      :zoom="15"
      style="width:100%; height: 500px;"
    >
    <!-- :options="{
        scrollwheel: true
      }"  -->
      <gmap-marker
        :animation="2"
        :key="index"
        v-for="(item, index) in apiNodes"
        :position="item.position"
        :icon="createMarker(25, 25, 4, item.alertlevel)"
        @mouseover="openInfoWindown(item.id)"
        @mouseout="closeInfoWindown(item.id)"
      >
        <GmapInfoWindow
          :opened="windownOpen.indexOf(item.id) != -1 ? true : false"
        >
          <div class="detail">
            <p>Tình trạng: {{generateStatus(item.alertlevel)}}</p>
            <p>Địa chỉ: {{item.name}}</p>
            <p>Vị trí: <span>{{item.position && item.position.lat}}</span> <span>{{item.position && item.position.lng}}</span></p>
            <p>Nguyên nhân tắc đường: Phương tiện lưu thông đông</p>
          </div>
        </GmapInfoWindow>
      </gmap-marker>
    </gmap-map>
  </div>
</template>

<script>
export default {
  name: "GoogleMap",
  props: {
    apiNodes: {
      type: Array,
      default: false
    },
    centerMaps: {
      type: Object,
      default: false
    }
  },
  data() {
    return {
      currentPlace: null,
      windownOpen: []
    }
  },
  methods: {
    generateStatus(level) {
      if (level === '1') return 'Đường phố thông thoáng'
      if (level === '2') return 'Phương tiện lưu thông trung bình'
      if (level === '3') return 'Phương tiện lưu thông đông, có nguy cơ tắc đường'
      if (level === '4') return 'Phương tiện lưu thông rất đông, đang tắc đường'
    },
    openInfoWindown(id) {
      const index = this.windownOpen.indexOf(id)
      if (index == -1) {
        return this.windownOpen.push(id)
      }
      return false
    },
    closeInfoWindown(id) {
      const index = this.windownOpen.indexOf(id)
      if (index != -1) {
        return this.windownOpen.splice(index, 1)
      }
      return false
    },
    createMarker(width, height, radius, level) {
      var level1 = '#17fff2'
      var level2 = '#f9e005'
      var level3 = '#ff8f17'
      var level4 = '#f90533'
      var canvas, context;
      canvas = document.createElement("canvas");
      canvas.width = width;
      canvas.height = height;
      context = canvas.getContext("2d");

      // context.clearRect(0,0,width,height);

      // background is yellow
      switch(level) {
        case '1':
          context.fillStyle = level1;
          break;
        case '2':
          context.fillStyle = level2;
          break;
        case '3':
          context.fillStyle = level3;
          break;
        case '4':
          context.fillStyle = level4;
          break;
        default:
          context.fillStyle = level1;
      }

      // border is black
      context.strokeStyle = "rgba(0,0,0,1)";

      context.beginPath();
      context.moveTo(radius, 0);
      context.lineTo(width - radius, 0);
      context.quadraticCurveTo(width, 0, width, radius);
      context.lineTo(width, height - radius);
      context.quadraticCurveTo(width, height, width - radius, height);
      context.lineTo(radius, height);
      context.quadraticCurveTo(0, height, 0, height - radius);
      context.lineTo(0, radius);
      context.quadraticCurveTo(0, 0, radius, 0);
      context.closePath();
      context.fill();
      context.stroke();

      return canvas.toDataURL();
    },
  }
};
</script>

<style lang="scss">
  .image-icon-on-map {
    width: 20px;
    height: auto;
  }

  .detail {
    background: orange;
    padding: 15px 10px;
    color: #ffffff;
    border-radius: 10px;
    p  {
      text-align: left;
      font-size: 16px;
      line-height: 30px;
    }
  }
</style>