<template>
  <div id="app">
    <v-container>
      <v-row>
        <v-col cols="2">
          <Menu/>
        </v-col>
        <v-col cols="10">
          <Header/>
          <router-view/>          
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Header from './layouts/Header'
import Menu from './layouts/Menu'
export default {
  name: 'app',
  components: {
    Header,
    Menu
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
