<template>
  <v-layout>
    <v-container>
      <v-row class="wrap-header-main">
        <v-col cols="3">
          <ul>
            <li>
              <v-btn class="ma-2" text icon color="blue lighten-2">
                <v-icon>mdi-format-list-bulleted</v-icon>
              </v-btn>
            </li>
            <li>
              <v-btn class="ma-2" text icon color="red lighten-2">
                <v-icon>mdi-search-web</v-icon>
              </v-btn>
            </li>
          </ul>
        </v-col>
        <v-col cols="9">
          <div class="wrap-right">
            <v-badge
              color="#ff6b6b"
              class="badge"
            >
              <template v-slot:badge>10</template>
              <v-icon>mdi-email</v-icon>
            </v-badge>
            <v-chip
              pill
            >
              <v-avatar left>
                <v-img src="https://cdn.vuetifyjs.com/images/john.png"></v-img>
              </v-avatar>
              John Leider
            </v-chip>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
  export default {
  
  }
</script>

<style lang="scss" scoped>
  .wrap-header-main {
    box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
    ul {
      display: flex;
      flex-flow: row nowrap;
      li {
        a {
          line-height: 40px;
          text-decoration: none;
          text-transform: uppercase;
          &:hover {
            color: #000;
          }
        }
      }
    }
    .wrap-right {
      padding: 0 20px;
      text-align: right;
      .badge {
        margin-right: 30px;
      }
    }
  }
</style>