<template>
  <v-card height="100vh">
    <v-navigation-drawer
      relative
      permanent
      left
      width="100%"
    >
      <template v-slot:prepend>
        <v-list-item two-line>
          <v-list-item-avatar>
            <img src="../assets/images/68855267_1559528764184510_653046882548842496_o.jpg">
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>Administrator</v-list-item-title>
            <v-list-item-subtitle>Đã đăng nhập</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
      <v-divider></v-divider>
      <v-list dense>
        <v-list-item
          v-for="item in items"
          :key="item.title"
          @click.prevent="redirect(item.origin)"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-card>
</template>

<script>
  export default {
    data () {
      return {
        drawer: true,
        items: [
          { title: 'Bản đồ', icon: 'mdi-google-maps', origin: '/' },
          { title: 'Thống kê', icon: 'mdi-chart-areaspline', origin: '/statistic' },
          { title: 'Giải pháp', icon: 'mdi-apps', origin: '/' },
          { title: 'Dự đoán', icon: 'mdi-autorenew', origin: '/' },
        ],
        mini: true
      }
    },
    methods: {
      redirect(origin) {
        return this.$router.push(`${origin}`)
      }
    }
  }
</script>